<!-- La clase 'header-hidden' se añade dinámicamente con TypeScript -->
<header class="head" [class.header-hidden]="isHeaderHidden">
  <div class="head__container">

    <!-- Logo (Elemento Izquierdo) -->
    <a href="#" class="logo-link">&#64;JUANFRANCISCO7</a>

    <!-- Navegación principal (Elemento Central - solo para escritorio) -->
    <nav class="head__nav--desktop">
      <ul>
        <li><a href="#sobre-mi" class="head__list">Sobre mí</a></li>
        <li><a href="#skills" class="head__list">Skills</a></li>
        <li><a href="#hobbies" class="head__list">Hobbies</a></li>
        <li><a href="#certificaciones" class="head__list">Certificaciones</a></li>
        <li><a href="#proyectos" class="head__list">Proyectos</a></li>
        <li><a href="#galeria" class="head__list">Galería</a></li>
        <li><a href="#contactame" class="head__list">Contáctame</a></li>
      </ul>
    </nav>

    <!-- Contenedor para los elementos de la derecha -->
    <div class="header__right">
      <!-- Iconos Sociales siempre visibles -->
      <div class="social-icons">
        <a href="https://github.com/Juanfrancisco7" target="_blank" rel="noopener noreferrer" class="social-icon">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/juan-francisco-bencomo-chacin-9aa261225/" target="_blank" rel="noopener noreferrer" class="social-icon">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>

      <!-- Botón Hamburguesa (solo para móvil) -->
      <button class="toggle-button" (click)="toggleMenu()">
        <i class="fa-solid" [ngClass]="isMenuOpen ? 'fa-xmark' : 'fa-bars'"></i>
      </button>
    </div>
  </div>

  <!-- Menú desplegable para móvil -->
  <nav class="head__nav--mobile" [class.active]="isMenuOpen">
    <ul>
      <li><a href="#sobre-mi" class="head__list" (click)="closeMenu()">Sobre mí</a></li>
      <li><a href="#skills" class="head__list" (click)="closeMenu()">Skills</a></li>
      <li><a href="#hobbies" class="head__list" (click)="closeMenu()">Hobbies</a></li>
      <li><a href="#certificaciones" class="head__list" (click)="closeMenu()">Certificaciones</a></li>
      <li><a href="#proyectos" class="head__list" (click)="closeMenu()">Proyectos</a></li>
      <li><a href="#galeria" class="head__list" (click)="closeMenu()">Galería</a></li>
      <li><a href="#contactame" class="head__list" (click)="closeMenu()">Contáctame</a></li>
    </ul>
  </nav>
</header>

