<section class="skills-hobbies" id="skills">
  <div class="skills-hobbies__fondo">
    <div class="skills-hobbies__propiedades">
      <div class="skills__hobbies">

        <!-- Skills Section -->
        <div class="skills">
          <h1 class="skills__title" data-aos="fade-down" data-aos-duration="1500">
            Skills
          </h1>
          <br>
          <ul class="skills__nav nav">
            <li class="skills__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
              <i class="fa-brands fa-html5"></i>
              <p>HTML5</p>
            </li>
            <li class="skills__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
              <i class="fa-brands fa-css3-alt"></i>
              <p>CSS3</p>
            </li>
            <li class="skills__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
              <i class="fa-brands fa-square-js"></i>
              <p>JavaScript</p>
            </li>
            <li class="skills__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="250">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
                   alt="TypeScript"
                   style="width: 60px; height: 60px; margin-bottom: 1rem; filter: grayscale(100%) brightness(0.5); opacity: 0.8;" />
              <p>TypeScript</p>
            </li>
            <li class="skills__list" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
              <i class="fa-brands fa-node"></i>
              <p>Node.js</p>
            </li>
            <li class="skills__list" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
              <i class="fa-brands fa-angular"></i>
              <p>AngularJS</p>
            </li>
            <li class="skills__list" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
              <i class="fa-brands fa-react"></i>
              <p>ReactJS</p>
            </li>
            <li class="skills__list" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="600">
              <i class="fa-brands fa-python"></i>
              <p>Python</p>
            </li>
            <li class="skills__list" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="700">
              <i class="fa-solid fa-database"></i>
              <p>SQL</p>
            </li>
          </ul>
        </div> <!-- ESTE ES EL CIERRE QUE FALTABA -->

        <br><br><br><br>

        <!-- Hobbies Section -->
        <div class="hobbies" id="hobbies">
          <h1 class="hobbies__title" data-aos="fade-up" data-aos-duration="1500">
            Hobbies
          </h1>
          <br>
          <ul class="hobbies__nav nav">
            <li class="hobbies__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
              <i class="fa-solid fa-motorcycle"></i>
              <p>Motocross</p>
            </li>
            <li class="hobbies__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
              <i class="fa-solid fa-car-side"></i>
              <p>4x4</p>
            </li>
            <li class="hobbies__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
              <i class="fa-solid fa-motorcycle" style="transform: scaleX(-1); display: inline-block;"></i>
              <p>Enduro</p>
            </li>
            <li class="hobbies__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
              <i class="fa-solid fa-parachute-box"></i>
              <p>Paracaidismo</p>
            </li>
            <li class="hobbies__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
              <i class="fa-solid fa-snowboarding"></i>
              <p>Snowboard</p>
            </li>
            <li class="hobbies__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
              <i class="fa-solid fa-video"></i>
              <p>Edición de Videos</p>
            </li>
            <li class="hobbies__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
              <i class="fa-solid fa-headphones-simple"></i>
              <p>Música</p>
            </li>
            <li class="hobbies__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">
              <i class="fa-solid fa-gamepad"></i>
              <p>Videojuegos</p>
            </li>
            <li class="hobbies__list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
              <i class="fa-solid fa-plane-departure"></i>
              <p>Viajar</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>