<section class="banner">
  <div class="banner__fondo">
    <div class="banner__propiedades">
      <div class="banner__descripcion container">
        <br>
        <br>
        <br> 
        
        <h1>Hola, soy <b>Juan Francisco</b></h1>
        <p>
          Web Developer | Python | JavaScript | Angular <br> Creando soluciones web eficientes.
        </p>
      </div>
      <div class="banner__fondo__img">
        <!-- RUTA CORREGIDA: Asumiendo que tu imagen está en public/img -->
        <img class="banner__descripcion__img" src="img/yo.jpg.webp" alt="Imagen de Juan Francisco">
      </div>
    </div>
  </div>
</section>
